<?php
	
	//Configuration for Shinka Banners
	$config = array('AdUnitID_320'  => 'XXXXXX',
                    'RESIZE_IMAGES' => TRUE,
                    'REFERER'       => 'murphyslaws',
                    'TESTUSER'      => 'tkembo');
	
	//Configuration for Google Analytics
	$GA_ACCOUNT = "MO-XXXXXXXX-X";
	$GA_PIXEL = "ga.php";
	
	//DB Settings
	$hostname_mxit_murphyslaws = "<YOUR DB HOSTNAME>";
	$database_mxit_murphyslaws = "<YOUR DB NAME>";
	$username_mxit_murphyslaws = "<YOUR DB USERNAME>";
	$password_mxit_murphyslaws = "<YOUR DB PASSWORD>";
	
	$mxit_murphyslaws = mysql_pconnect($hostname_mxit_murphyslaws, $username_mxit_murphyslaws, $password_mxit_murphyslaws) or trigger_error(mysql_error(),E_USER_ERROR); 
	
?>